* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p {
    color: white;
}
img{
  z-index: 0;
}
body{
    /* background: url("https://wallpaperaccess.com/full/3717113.jpg" width="1920", height="1080"); */
}
.page{
  z-index: 1;
  min-width: 100vh;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container{
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 250px;
  background: rgba(0, 0, 0, .5);
  border: 2px solid pink;
  border-radius: 30px;
  /* padding: 2% 0 2% 0; */
}
.container h1{
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
}

.row{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row input{
  font-size: 15px;
  padding: 1px;
  margin-top: 5px;
  border-radius: 30px;
}

.btnreg{
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 255);
}

button{
  font-size: 15px;
  padding: 1px;
  border-radius: 30px;
}
button:hover{
  background-color: red;
}
